<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA8qk-JLVx7EQAtWQ_0DfSK6-qZIoeFOkI</string>
	<key>GCM_SENDER_ID</key>
	<string>1097092791568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hearingJourney</string>
	<key>PROJECT_ID</key>
	<string>afe-hearing-journey</string>
	<key>STORAGE_BUCKET</key>
	<string>afe-hearing-journey.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097092791568:ios:3257bcb9ced85cdcc6f995</string>
</dict>
</plist>